@import '../../style/variable.scss';

.section {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --color: var(--light);
    --bg-color: var(--dark);
    background-color: var(--bg-color);
    background-image: linear-gradient(180deg, #EEF8F7 0%, #E8F2FC 100%);
    color: var(--color);
    position: relative;
    padding: var(--padding-top) 0 var(--padding-bottom);
    min-height: 100vh;
    display: flex;
    align-items: center;

    @include lg {
        --padding-top: 6rem;
        --padding-bottom : #{size(147)};
    }
    @include xxl {
        --padding-top : #{size(147)};
    }
}

.col {
    &_main {
        .card {
            &:hover {
                .card_img {
                    transform: scale(1.8) translate(13%, -2%) rotate(-18deg);
                }
            }
        }
        .card_img {
            transform: scale(1.6) translate(18%, 0%) rotate(-11deg);
            transition: 0.8s transform cubic-bezier(0.59, -0.26, 0.3, 1.19);
            will-change: transform;
        }
    }
    &_one {
        .card {
            &:hover {
                .card_img {
                    transform: scale(1.1) translate(-19%, 13%) rotate(14deg);
                }
            }
        }
        .card_img {
            transform: scale(1) translate(-25%, 35%) rotate(27deg);
            transition: 0.8s transform cubic-bezier(0.59, -0.26, 0.3, 1.19);
            will-change: transform;
        }
    }
    &_two {
        .card {
            &:hover {
                .card_img {
                    transform: scale(1.1) translate(20%, 20%) rotate(-10deg);
                }
            }
        }
        .card_img {
            transform: scale(1) translate(25%, 28%) rotate(0deg);
            transition: 0.8s transform cubic-bezier(0.59, -0.26, 0.3, 1.19);
            will-change: transform;
        }
    }
}


.card {
    --radius: 20px;
    border-radius: var(--radius);
    padding: 15px 15px 0;
    @include lg {
        --radius: #{size(40)};
        padding: size(23) size(40) 0;  
    }
    .glass {
        background: rgba(255, 255, 255, 0.239);
        backdrop-filter: blur(26px);
    }
    &_sm {
        --bs-aspect-ratio: 120%;
        
    }
    &_lg {
        --bs-aspect-ratio: 50%;
        .glass {
            background: rgba(0, 0, 0, 0.712);
        }
    }

    .title {
        max-width: 17ch;
    }

    .label {
        background-color: #FFB558;
    }
}

