@import '../../style/variable.scss';

.card {
    &_user {
        &__img {
            width: 30px;
            @include lg {
                width: size(50);

            }
        }
    }
}

.section {
    padding-top: 60px;
    @include lg {
        padding-top: size(120);
    }
}

.slider {
    &_item {
        opacity: 0.5;
        transform: scale(0.8);
        transition: 0.4s all ease-in-out;
        will-change: transform;
        &:global(.swiper-slide-active) {
            opacity: 1;
            transform: scale(1); 
        }
    }
}

.content {
    @include max(991.98) {
        font-size: 16px;
    }
}