@import '../../style/variable.scss';

.section {
    --pt: 60px;
    --pb: 60px;
    padding: var(--pt) 0 var(--pb);
    position: relative;

    @include lg {
        min-height: 100vh;
        --pt: #{size(110)};
        --pb: #{size(110)};
    }
}


.content {
    &_wrap {
        display: block;
        position: relative;
    }

    &_img {
        position: absolute;
        left: 0;
        top: 0;

    }

    &_item {
        will-change: transform;

        &:nth-of-type(even) {
            @include lg {
                flex-direction: row-reverse;

            }
        }
    }
}

.card_wrap {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
}

.icon_skill {
    position: absolute;
    width: 80px;
    left: var(--left);
    top: var(--top);
}