@import '../../style/variable.scss';


.section {
    --bg: rgb(255, 255, 255);
    --color: rgb(29, 29, 29);
    --t-white: #fff;
    --t-dark: #525252;
    position: relative;
    background-color: var(--bg);
    // background-image:radial-gradient(rgb(0, 246, 131), rgb(50, 249, 210))  ;
    color: var(--color);
    
    overflow: hidden;
    @include lg {
        min-height: 100vh;
        clip-path: circle(45px);
    }
}
.title_wrap {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 90px;
    font-weight: 300;
    gap: 110px;
    will-change: transform;
}

.portrait {
    --bs-aspect-ratio: 115.3%;
    width: 35%;
    bottom: 0;
    z-index: 3;
    will-change: transform;
    min-width: 290px;
    @include lg {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
    &::after {
        // content: '';
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
// radial-gradient(rgb(0, 246, 131), rgb(50, 249, 210))
.grad {
    position: absolute;
    background-image: linear-gradient(180deg, #06F 0%, #FFDDB7 100%);
    border-radius: 50%;
    width: 51%;
    transform: translateX(-50%) rotate(112deg);
    left: 50%;
    margin: auto;
    bottom: -70%;
    filter: blur(20px);
    opacity: 0.6;
}

.title {
    color: var(--t-dark);

    &_white {
        color: var(--t-white);
    }
    &_grad{

    }
}

.bg_cover
 {
    will-change: transform;
 }


 .title_sm {
    line-height: 1.3;
    color: rgb(177, 182, 203);
 }

 .strip {
    background-image: linear-gradient(to right, #9902f7, #009dff);
    padding: 44px 0;
 }

 .shapes {
    --bs-aspect-ratio: 57%;
    width: 62%;
    transform: translate(-50%, -50%);
 }


 .pointer {
    --primary : #3A87F7;
    --bx:rgba(59, 134, 246, 0.53);
    --t: 10%;
    --l: 10%;
    top: var(--t);
    left: var(--l);
    
    &_pill {
background-color: var(--primary);
box-shadow: 0 0 14px 0 var(--bx);
    }

    &_primary {
        --primary : #3A87F7;
        --bx:rgba(59, 134, 246, 0.53);
        --t: 0%;
        --l: 70%;
    }
    &_secondary {
        --primary : #EA6635;
        --bx:rgba(234, 101, 53, 0.47);
        --t: 60%;
        --l: 70%;
    }
    &_tertiary {
        --primary : #861AF5;
        --bx:rgba(136, 26, 245, 0.538);
        --t: 30%;
        --l: -6%;
    }
 }

 .content_wrap {
    will-change: transform;
 }

 .social {
     li {
        will-change: transform;
    }
    a {
        color: #000;
        span {
            font-size: 20px;
        }
    }
 }