@import '../../style/variable.scss';


.section {
    --bg: white;
    --color: rgb(29, 29, 29);
    --t-white: #fff;
    --t-dark: #525252;
    position: relative;
    min-height: 100vh;
    background-color: var(--bg);
    background-image:radial-gradient(rgb(0, 246, 131), rgb(50, 249, 210))  ;
    color: var(--color);
    clip-path: circle(45px);
}


.portrait {
    position: absolute;
    --bs-aspect-ratio: 115.3%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    bottom: 0;
    z-index: 3;
    &::after {
        content: '';
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
// radial-gradient(rgb(0, 246, 131), rgb(50, 249, 210))
.grad {
    position: absolute;
    background-image: linear-gradient(180deg, #06F 0%, #FFDDB7 100%);
    border-radius: 50%;
    width: 51%;
    transform: translateX(-50%) rotate(112deg);
    left: 50%;
    margin: auto;
    bottom: -70%;
    filter: blur(20px);
    opacity: 0.6;
}

.title {
    color: var(--t-dark);

    &_white {
        color: var(--t-white);
    }
    &_grad{

    }
}