@import '../../style/variable.scss';

.section {
    --pt: 60px;
    --pb: 60px;
    padding: var(--pt) 0 var(--pb);
    @include lg {
        min-height: 100vh;
        --pt: #{size(110)};
        --pb: #{size(110)};
    }
}


.content {
    &_wrap {
        display: block;
    }

    &_img {
        position: absolute;
        left: 0;
        top: 0;

    }

    &_item {
        will-change: transform;

        &:nth-of-type(even) {
            @include lg {
                flex-direction: row-reverse;

            }
        }
    }
}


.card {
    --rad: 32px;
    --bg: #212735;
    --size: 74%;
    position: relative;
    border-radius: var(--rad);
    width: var(--size);
    margin: 0 auto;
    overflow: hidden;

    &_head {
        background-color: var(--bg);
        --bs-aspect-ratio: 100%;
        z-index: 11;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
    }

    &_body {
        --bs-aspect-ratio: 0%;
    }
}

.img1 {
    transform: scale(0.9);
}

.img2,
.img3 {
    will-change: transform;
}



.pf_sm {
    width: 38px;

    @include lg {
        width: 2rem;
    }

    &:not(:first-of-type) {
        margin-left: -9%;
    }
}

.pf_wrap {
    position: absolute;
    background-color: #F4F7F4;
    z-index: 13;
    border-radius: 40px;
    top: 69%;
    left: 0%;
    padding: 3px;

    p {
        margin-left: -10%;
        font-size: 12px;

        @include lg {
            margin-left: -15%;
            font-size: 14px;
        }
    }
}

.path {
    border: 1px dashed #acacac;
    
    width: 18%;
    height: 31%;
    position: absolute;
    
    
    &.path1 {
        border-top: none;
        border-right: none;
        top: 25%;
        left: 10%;
        border-radius: 0px 0px 0px 30px;
    }
    &.path2 {
        border-top: none;
        border-left: none;
        top: 11%;
        right: 10%;
        border-radius: 0px 0px 30px 0px;
    }
    &.path3 {
        border-top: none;
        border-left: none;
        top: 63%;
        right: 51%;
        border-radius: 0px 0px 30px 0px;

    }
}

.c {
    position: absolute;
    --top: 0;
    --left: 0;
    top: var(--top);
    left: var(--left);
    max-width: 100%;
}

.c1 {
    --bs-aspect-ratio: 32%;
    --top: -5%;
    --left: 4%;
    width: 47%;
}

.c2 {
    --bs-aspect-ratio: 113%;
    --top: 10%;
    --left: 89%;
    width: 30%;
    
}

.c3 {
    --bs-aspect-ratio: 29%;
    --top: 50%;
    --left: 75%;
    width: 40%;
    z-index: 33;
    border-radius: 12px ;
    overflow: hidden;
    &_item {
        will-change: transform;
    }

}

.c4 {
    --bs-aspect-ratio: 30%;
    --top: 0%;
    --left: 64%;
    width: 50%;
}

.c5 {
    --bs-aspect-ratio: 32%;
    --top: 88%;
    --left: 0%;
    width: 40%;
}