@import '../../style/variable.scss';


.section {}


.card_wrap {
    background-color: #1C1729;
    padding: 30px 23px;
    border-radius: 20px;
    
    @include lg {
        padding: size(60);
        border-radius: size(40);
    }
}

.card_item {
    :global(.ratio) {
        width: 30px;
        @include lg {
            width: size(40);
        }
    }

    p {}
}